---
import { SITE } from 'astrowind:config';
import LogoIcon from './ui/Logo.astro';
---

<span
  class="self-center ml-2 text-xl font-bold text-gray-900 rtl:ml-0 rtl:mr-2 md:text-xl whitespace-nowrap dark:text-white"
>
  <div class="flex items-end justify-end text-primary">
    <LogoIcon class="mb-1 size-6 dark:text-white"/> {SITE?.name}
  </div>
</span>
