.wdt-shin {
  -webkit-animation: moving-needle alternate 1.5s infinite;
  animation: moving-needle alternate 1.5s infinite;
}

.text-shadow {
  text-shadow:
    1px 1px 1px rgba(0, 0, 0, 0.133),
    0 0 0.1em rgba(0, 0, 0, 0.133),
    0 0 0.2em rgba(0, 0, 0, 0.133);
}

@keyframes moving-needle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}