.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .reviews {
    padding: 70px 0;
 }
}
@media (max-width: 991px) {
  .reviews {
    padding: 50px 0;
 }
}
.reviews h2 {
  margin-bottom: 64px;
}
@media (min-width: 168px) and (max-width: 1200px) {
  .reviews h2 {
    margin-bottom: 34px;
 }
}
@media (max-width: 167px) {
  .reviews h2 {
    margin-bottom: 24px;
 }
}
@media (max-width: 167px) {
  .reviews .top-reviews, .reviews .bottom-reviews {
    padding: 0 20px;
 }
}
@media (min-width: 168px) {
  .reviews .top-reviews, .reviews .bottom-reviews {
    display: flex;
 }
}
.reviews .top-reviews:hover, .reviews .bottom-reviews:hover {
  animation-play-state: paused;
}
@media (min-width: 168px) {
  .reviews .top-reviews {
    animation: ticker 220s linear infinite;
    align-self: flex-start;
 }
  .reviews .bottom-reviews {
    animation: reversticker 220s linear infinite;
    align-self: flex-end;
 }
}
@keyframes ticker {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(-50%);
 }
}
@keyframes reversticker {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(50%);
 }
}
.reviews .bottom-reviews .review {
  direction: ltr;
}
.reviews .review {
  padding: 24px;
  background: #fff;
  box-shadow: 0px 12px 50px rgba(103, 92, 83, 0.08);
  border-radius: 25px;
  width: 400px;
  margin: 0 15px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
}
@media (max-width: 167px) {
  .reviews .review {
    min-height: 178px;
    min-width: 280px;
    width: 100%;
    max-width: 400px;
    margin: 0 0 20px 0;
 }
}
.reviews .review .stars {
  margin-bottom: 3px;
}
.reviews .review .stars img {
  display: block;
}
.reviews .review .review-info {
  display: flex;
  align-items: center;
}
.reviews .review .review-info .user {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #474c4d;
}
@media (max-width: 167px) {
  .reviews .review .review-info .user {
    font-size: 13px;
 }
}
.reviews .review .review-info .dot {
  margin: 0 10px;
}
.reviews .review .review-info .date {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #767e7f;
}
@media (max-width: 167px) {
  .reviews .review .review-info .date {
    font-size: 13px;
 }
}
.reviews .review .review-text {
  font-size: 20px;
  line-height: 32px;
  color: #000;
  margin: 8px 0;
}
.reviews .review .review-text.arabic {
  display: none;
}
@media (max-width: 167px) {
  .reviews .review .review-text {
    font-size: 17px;
 }
}
.reviews .review .translate {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #767e7f;
}
.reviews .review .translate.show-english {
  display: none;
}
.reviews .review .translate a {
  font-size: 15px;
  line-height: 28px;
  text-decoration-line: underline;
  color: #474c4d;
}
.reviews .toggle-button {
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  text-decoration-line: underline;
  color: #2c2ffe;
  border: 0;
  background: none;
}